<div style="text-align:center">
  <h1>
    CRUD Application using Express and Angular
  </h1>
</div>

<div style="padding: 20px;">
  <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-success"
          (click)="onAddClick()">Add User
  </button>
</div>

<div style="padding: 20px;">
  <table class="table">

    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">

      <td>{{user.name}}</td>

      <td>
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary"
                (click)="onEditClick(user)">Edit
        </button>
      </td>

      <td>
        <button type="button" class="btn btn-danger"
                (click)="deleteUser(user)">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add/Edit user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="currentUserName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onModalClose()">Save</button>
      </div>
    </div>
  </div>
</div>


